<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>logservlet1</servlet-name>
        <servlet-class>controler.logservlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminservlet</servlet-name>
        <servlet-class>controler.adminservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>facultyservlet</servlet-name>
        <servlet-class>controler.facultyservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>driverServlet</servlet-name>
        <servlet-class>controler.driverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteServlet</servlet-name>
        <servlet-class>controler.deleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>busservlet</servlet-name>
        <servlet-class>controler.busservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bServlet1</servlet-name>
        <servlet-class>controler.bServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>busDelete</servlet-name>
        <servlet-class>busDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deletebus</servlet-name>
        <servlet-class>controler.Deletebus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logservlet1</servlet-name>
        <url-pattern>/logservlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminservlet</servlet-name>
        <url-pattern>/adminservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>facultyservlet</servlet-name>
        <url-pattern>/facultyservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>driverServlet</servlet-name>
        <url-pattern>/driverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteServlet</servlet-name>
        <url-pattern>/deleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>busservlet</servlet-name>
        <url-pattern>/busservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bServlet1</servlet-name>
        <url-pattern>/bServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>busDelete</servlet-name>
        <url-pattern>/busDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deletebus</servlet-name>
        <url-pattern>/Deletebus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
